@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 300px;
    margin: 100px auto;
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);

    font-family: 'Outfit', sans-serif;
    text-align: center;
    color: hsl(220, 15%, 20%);
}

.ft {
    margin: 0 auto 20px;
    margin-bottom: 16px;
    max-width: 250px;
    
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 120%;
}

.st {
    margin: 0 auto 20px;
    margin-bottom: 40px;
    max-width: 250px;

    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.2px;
    color: hsl(220, 15%, 55%);
}

.imgcontainer {
    text-align: center;
    margin-bottom: 20px;
}

.imgcontainer img {
    width: 100%;
    border-radius: 16px;
}